h1,
h2,
h3 {
  font-family: "Tw Cen MT", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
}

article {
  font-size: 0.7rem;
}

table,
td,
th {
  border-width: 0.1em;
  border-color: black;
  border-style: solid;
  border-collapse: collapse;
}
